@model Haver_Niagara.ViewModels.EmployeeVM

<h2>Viewing Employee Details</h2>

<h3>Account for: @Model.FullName</h3>

<div>
    <hr />
    <div class="alert alert-danger" style="display: none;">
        <strong>Note:</strong>
        <ul id="errorMessage"></ul>
    </div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfPushSubscriptions)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.NumberOfPushSubscriptions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit Account Details</a>
</div>


